{
  "extends": "stylelint-config-standard",
  "rules": {
    "at-rule-name-case": null,
    "at-rule-no-unknown": null,
    "at-rule-empty-line-before": null,
    "no-descending-specificity": null,
    "no-duplicate-selectors": null,
    "color-hex-case": null,
    "declaration-block-semicolon-newline-after": null
  }
}
