// @pix: 50px;

#father {
  #pattern {
    width: 200px;
    line-height: 250px;
    height:250px;
    position: relative;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.15);

    .enableB {
      position: absolute;
      top: 0;
    }
    /*组件入场前的状态*/
    .animation-enter{
      // transform:translateY(-@pix);
      opacity:0;
    }

    /*组件正在入场时候的动画, all 指的是所有属性一起变化，ease-in-out 先快后慢的一种时间线*/
    .animation-enter-active{
      // transform:translateY(0);
      opacity:1;
      transition:all 1000ms ease-in-out;
    }

    /*组件出场前的动画*/
    .animation-exit {
      opacity: 1;
    }

    /*组件正在出场的动画*/
    .animation-exit-active {
      opacity:0;
      // transform:translateY(@pix);
      transition:all 1000ms ease-out;
    }
  }

  // .child-render{
  //   margin-top: 10px;
  //   margin-bottom: 10px;
  //   width: 200px;
  //   height:250px;
  //   box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.15);
  // }
}
